<div class="row">
  <div class="col-2">
    <%= render partial: 'users/partials/user_lateral',
               locals: {
                 user: @user
               }
    %>
  </div>

  <div class="col-10" align="center">
    <% @travels.each do |travel| %>
      <%= render partial: "travels/partials/travel_min",
                 locals: {
                   travel: travel,
                   user: @user
                 }
      %>
    <% end %>
  </div>
</div>