<div class="card">
    <div class="row">
        <div class="col-2" style="height: 100px">
            <%= image_tag follower.image_url, class: 'p-2', style:"width:100px" %>
        </div>

        <div class="col-10 py-2 pr-2">
            <h6 class="d-inline"><%= follower.full_name %></h6>

            <%= link_to user_path(follower.format_id) do %>
              <span class="d-inline">@<%= follower.username %></span>
            <% end %>
        </div>
    </div>
</div>
