<li class="list-group-item">
    <div class="row float-left">
        <div class="col-2">
            <%= image_tag follower.image_url, style:"height:100px; width:100px" %>
        </div>
        <div class="col-10 pl-5">
            <h6 class="d-inline"><%= follower.name + " " + follower.lastname %></h6>

            <%= link_to user_path(follower.format_id) do %>
              <span class="d-inline">@<%= follower.username %></span>
            <% end %>
        </div>
    </div>
</li>
