<div class="row">
  <div class="col-3">
    <%= render partial: 'users/partials/user_lateral',
               locals: {
                 user: @user
               }
    %>
  </div>

  <% if false %>
  <div class="col-9">
      <% @posts.each do |post| %>
        <%= render partial: "posts/partials/#{post.type}_post",
                  locals: {
                    user: @user,
                    post: post
                  }
        %>
      <% end %>
  </div>
  <% end %>
</div>
