<div class="card bg-light mb-3">
    <div class="card-header">
        <strong class="marker-name"><%= (index + 97).chr %></strong>
        <strong><%= place.title %></strong>
    </div>
    <div class="card-body">
        <p class="card-text"><%= place.description %></p>
    </div>
</div>