<div id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <!-- Introduccion -->
  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">Apollo</h1>
            <p class="pintro">Comparte tu viaje con el mundo o inspírate</p>

            <%= link_to '/auth/google_oauth2' do %>
              <i class="fab fa-google mr-2"></i><span class="network-name">Sign In</span>
            <% end %>

            <div>
              <a href="#about" class="btn btn-circle page-scroll">
                  <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Acerca de Section -->
  <section id="about" class="container content-section">
    <div class="row">
        <h2>Acerca de Apollo</h2>
        <p>Apollo es una red social para compartir viajes. Te permite llevar a cabo la planificación de un viaje y el descubrimiento de nuevos destinos turísticos sin tener que pasar horas buscando información sobre el mismo en internet; tan solo debes entrar en la aplicación y ver los viajes y recomendaciones de otras personas que te alcanzarán para crear tu viaje ideal.</p>
        <p>A través de esta aplicación, se intenta resolver el problema de miles de personas que buscan realizar un viaje con éxito y con el menor esfuerzo posible, de la mano de viajeros que ya estuvieron en el lugar o quieren realizar la misma travesía.</p>
        <p>Apollo es un proyecto que comenzó en la catedra de Ingeniería de Software en la <a href="http://www.frd.utn.edu.ar">UTN FRD</a>.</p>
    </div>
  </section>

  <hr>

  <!-- Nosotros Section -->
  <section id="nosotros" class="container content-section">
    <div class="row">
      <div class="row">
        <h2>Nosotros</h2>
      </div>
      <div class="row">
        <div class="col-sm">
          <a href="https://ar.linkedin.com/in/juan-bono-62803685">
          <%= image_tag 'equipo/juan.jpg', class: 'equipo-img' %>
        </div>
        <div class="col-sm">
          <a href="https://ar.linkedin.com/in/matías-mangiantini-668001126">
          <%= image_tag 'equipo/matias.jpg', class: 'equipo-img' %>
        </div>
        <div class="col-sm">
          <a href="https://ar.linkedin.com/in/federico-sanches">
          <%= image_tag 'equipo/federico.jpg', class: 'equipo-img' %>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <!-- Contacto Section -->
  <section id="contact" class="container content-section text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Comunícate con Nosotros</h2>

        <p>Estamos en las redes sociales.</p>
        <ul class="list-inline banner-social-buttons">
          <li class="mb-2">
            <a href="https://www.facebook.com/pg/apollocom-238918739899778" class="btn btn-default btn-lg">
              <i class="fab fa-facebook-f fa-fw"></i>
              <span class="network-name">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/apollo-utn-frd/apollo" class="btn btn-default btn-lg">
              <i class="fab fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
        </ul>

        <p>¡Siéntete libre de escribirnos a nuestro email para poder seguir mejorando!</p>
        <p><a href="mailto:feedback@apollo.com">feedback@apollo.com</a></p>
      </div>
    </div>
  </section>

</div>
